.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 15px;
  flex-direction: column;
}
.name-title {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}
.links-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  align-items: center;
  width: 100%;
  margin-top: 7vh;
}
.navigation-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.4rem;
  transition: all 0.3s;
}
.chosen-link {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .navigation-container {
    flex-direction: row;
  }
  .links-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 0;
    width: max-content;
  }
  .name-title {
    display: block;
    width: max-content;
  }
  .menu-icon {
    display: none;
  }
}
